<template>
  <div class="container">
      <button @click="ShowUsers" class="btn btn-outline-success">Show User Name</button>
      <button @click="ShowComments" class="btn btn-outline-success">Show Comment</button>
      <button @click="ShowPosts" class="btn btn-outline-success">Show Posts</button>
   <ul>
       <li v-for="user in users" :key="user.id" >{{user.name}}</li>
   </ul>
   <ul>
       <li v-for="post in posts" :key="post.id" >{{post.title}}</li>
   </ul>
   <ul>
       <li v-for="comment in comments" :key="comment.id" >{{comment.name}}</li>
   </ul>
  </div>
</template>

<script>

export default {
  name: 'ShowAPI',
  data(){
    return{
      users:[],
      posts:[],
      comments:[]
    }
  },
  methods: {
ShowUsers(){
    this.posts = []
    this.comments = []
      axios.get('https://jsonplaceholder.typicode.com/users').then(response => {
    this.users = response.data 
      })
    },
   ShowComments(){
       this.posts = []
       this.users = []
      axios.get('https://jsonplaceholder.typicode.com/comments').then(response => {
       this.comments = response.data 
      })
    },
    ShowPosts(){
        this.user = []
        this.comments = []
      axios.get('https://jsonplaceholder.typicode.com/posts').then(response => {
    this.posts = response.data 
      })
    } 
  }
}
</script>



